webservice-test/src/main/resources/HelloWorldService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cxf.tg.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MyHelloWorldService" targetNamespace="http://cxf.tg.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cxf.tg.com/" elementFormDefault="unqualified" targetNamespace="http://cxf.tg.com/" version="1.0">

            <xs:element name="getPerson" type="tns:getPerson"/>

            <xs:element name="getPersonResponse" type="tns:getPersonResponse"/>

            <xs:element name="sayHello" type="tns:sayHello"/>

            <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"/>

            <xs:complexType name="sayHello">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sayHelloResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="returnHello" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getPerson">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getPersonResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="returnPerson" type="tns:person"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="person">
                <xs:sequence>
                    <xs:element name="age" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="sayHelloResponse">
        <wsdl:part element="tns:sayHelloResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPersonResponse">
        <wsdl:part element="tns:getPersonResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sayHello">
        <wsdl:part element="tns:sayHello" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPerson">
        <wsdl:part element="tns:getPerson" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HelloWorldService">
        <wsdl:operation name="sayHello">
            <wsdl:input message="tns:sayHello" name="sayHello">
            </wsdl:input>
            <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPerson">
            <wsdl:input message="tns:getPerson" name="getPerson">
            </wsdl:input>
            <wsdl:output message="tns:getPersonResponse" name="getPersonResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MyHelloWorldServiceSoapBinding" type="tns:HelloWorldService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHello">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sayHello">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sayHelloResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPerson">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPerson">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPersonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MyHelloWorldService">
        <wsdl:port binding="tns:MyHelloWorldServiceSoapBinding" name="HelloWorldServicePort">
            <soap:address location="http://localhost/helloWorld"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
